:root {
  --green: #BACC9A;
  --lightbrown: #ccb99b;
  --darkbrown: #6f4e35;
  --copper: #804422;
}

html, body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  font-family: "poppins", sans-serif;
  text-align: center;
  background-color: var(--green);
}

h1 {
  margin-bottom: 50px;
  font-family: "mason-serif", sans-serif;
  font-size: 64px;
}

#canvas-wrap {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}

canvas {
  display: block;
  border-radius: 10px;
  border: 5px ridge var(--copper);
}

button {
  padding: 10px 16px;
  margin: 5px;
  cursor: pointer;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  color: white;
  background-color: var(--darkbrown);
  border-radius: 20px;
  border: 2px ridge var(--darkbrown);
  transition: 0.2s;
}

button:hover {
  background-color: var(--green);
  color: var(--darkbrown);
}

.character-list {
  margin: 50px 20px;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
}

.character-list p {
  margin: 5px auto;
  padding: 15px;
  background-color: var(--lightbrown);
  border-radius: 10px;
  border: 3px ridge var(--copper);
}